html { scroll-behavior: smooth ; }
body{
    background-color: #ffe9ec;
    font-family: 'Courier New', Courier, monospace;
    margin: 0px;
    padding: 0px;
    
    /*background: url(pexels-quintin-gellar-313782.jpg) no-repeat;
    background-size: cover;
    height: 100vh;*/
  
    
  
}


nav{
    position: fixed;
    background-color: #f76278bc;
    box-shadow: 3px 10px 24px 0px rgba(252,143,187,0.75);
-webkit-box-shadow: 3px 10px 24px 0px rgba(252,143,187,0.75);
-moz-box-shadow: 3px 10px 24px 0px rgba(252,143,187,0.75);
    height: 80px;
    width: 100%;
    backdrop-filter: blur(20px);

}
nav ul li a {
    text-decoration: none;
    font-size: 30px;
    color: rgb(255, 255, 255);
   
    
}
nav ul li {
    display: inline-block;
   margin-right: 20px;
   padding-top: -150px;
  text-shadow: 2px 2px #761414;
   padding-left: 2px;
   padding-right: 4px;
}
nav ul {
    float: right;
    margin-right: 30px;
    margin-top: 25px;
   
}
a 
{ 
    text-decoration: none;
    border-radius: 50px;
   padding-left: 10px;
   padding-right: 0px;
  
}
a:hover{
   text-decoration: underline rgb(247, 55, 93) 0.3rem;
}

ul {
      list-style-type: none;
   
}
ul .scrolldown { 
  
    background-color: rgb(0, 0, 0);
   padding: 5px 10px;
    color: rgb(255, 255, 255);
    font-size: 20px;

   text-decoration: none;
   display: inline-block;
     margin: 20px;
}
 .scrolldown:hover{ 
background-color: #f96161;
    
       text-decoration: none;
       
    }
    .buttoncentre{
        text-align: center;
    }
/*ul .scrolllist{
    margin: 0 auto;
 display :flex;
 justify-content: center;
    display: inline-block ;
    text-align: center;
    text-decoration: none;
   }*/
    
.navtitle{
    font-size: 30px;
   color: #2f2f2f;
    font-weight: bold;
    line-height: 80px;
    margin: 0 50px;
}
#navtitle{
    width: 60px;
    margin: 0 0 -15px -35px;
}
.burgerbutton{
    font-size: 30p2;
    color: white;
    float: right;
    margin-right: 40px;
    line-height: 80px;
    cursor: pointer;
    display: none;

}
#check{
    display: none;

}

@media(max-width: 1155px)
{.burgerbutton{
    display: block;
}
nav ul{
    position: fixed;
    width: 100%;
    background-color: rgba(137, 135, 135, 0.692);
    height: 100vh;
    text-align: center;
    top: 60px;
    left: -120%;
    transition: all 1s;
}
nav ul li {
    display: block;
    padding: 50px;
}
nav ul li {
    text-decoration: double;
    font-size: 100px;
    color: white;
    text-transform: uppercase;
  
}


#check:checked ~ul{
    left: 0;
}

}
.homepagegreeting
{ text-shadow: 4px 4px #ff5b5b;
    font-size: 150px;
    margin-bottom: 10px;
    margin-top: 0px;
    padding-top: 100px;
    margin-left: 50px;
}
.paragraphtext{

    width: 40px 40px;
    margin-top: 5px;
    margin-bottom: 40px;
    margin-left: 250px;
    margin-right: 250px;
    font-size: 20px;
    padding: 50px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
.designblocks{


  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 50px;
  margin-right: 50px;
  font-size: 20px;
  padding: 50px;
  padding-bottom: 20px;
  padding-top: 20px;
  background-color: rgb(246, 221, 221);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;

align-items: center;
}
/*Heading sizes*/
.titles
{text-shadow: 2px 2px #ff5b5b;
text-align: center;
    margin-bottom: 10px;
    margin-top: 0px;
    padding-top: 100px;
    font-size: 80px;
}
 .smallertitles{
    font-size: 30px;
    margin: 0px;
  text-align: center;
  text-shadow: 1px 1px rgb(247, 120, 142);
 }
 .evensmallertitles{
    font-size: 23px;
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 5px;
    text-decoration: underline  1px rgb(0, 0, 0);
 }

#designimg{
  width: 60%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
  margin: 20px;
  text-align: center;
}
/*Weekly blog buttons*/
 #opentext {
    display: none;

  }
 
 #opentext:target {
    display: block;
   
  } 
  #Week {
    display: none;

  }
  #Week:target{
    display: block;

  }
  #weektwo {
    display: none;

  }
  #weektwo:target{
    display: block;

  }
  #weekthree {
    display: none;

  }
  #weekthree:target{
    display: block;

  }
  #weekfour {
    display: none;

  }
  #weekfour:target{
    display: block;

  }
  #weekfive {
    display: none;

  }
  #weekfive:target{
    display: block;

  }
  #weeksix {
    display: none;

  }
  #weeksix:target{
    display: block;

  } #weekseven {
    display: none;

  }
  #weekseven:target{
    display: block;

  }
  
  .opentext {
    color: #000000;
    border-style: dashed;
    padding: 5px;
   
border-radius: 8px 8px ;
font-size: 20px;
border-color: #000000;
background-color: #ffebeb;
font-style: normal;
float: right;

margin-bottom: 15px;
margin-left: 80%;
  }

.opentext:hover{
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
 }
 