html { scroll-behavior: smooth ; }
body{

  /*background: url(Images/image-from-rawpixel-id-6241000-png.png) ;*/
    background:var(--color-bck);
    font-family: 'Courier New', Courier, monospace;
    margin: 0px;
    padding: 0px;
    
}

nav{
    position: fixed;
    background-color:var( --color-nav);
    box-shadow:  inset 0px -3px 6px -2px rgba(0, 0, 0, 0.3);

   /*box-shadow: 3px 10px 24px 0px rgba(252,143,187,0.75);
-webkit-box-shadow: 3px 10px 24px 0px rgba(252,143,187,0.75);
-moz-box-shadow: 3px 10px 24px 0px rgba(252,143,187,0.75);
    */height: 80px;
    width: 100%;
    backdrop-filter: blur(20px);

}
nav ul li a {
    text-decoration: none;
    font-size: 30px;
    color: var(--color-font);
   
    
}
nav ul li {
    display: inline-block;
   margin-right: 20px;
   padding-top: -150px;
  /*text-shadow: 2px 2px #d70809;*/
   padding-left: 2px;
   padding-right: 4px;
}
nav ul {
    float: right;
    margin-right: 30px;
    margin-top: 25px;
   
}
a 
{ 
    text-decoration: none;
    border-radius: 50px;
   padding-left: 10px;
   padding-right: 0px;
  
}
a:hover{
   text-decoration: underline #d70809 0.3rem;
}

ul {
      list-style-type: none;
   
}
ul .scrolldown { 
  
    background-color: var(--color-bck);
   padding: 5px 10px;
    color: rgb(255, 255, 255);
    font-size: 20px;
font-weight: bold;
   text-decoration: none;
   display: inline-block;
     margin: 20px;
}
.scrolldown, .search-input { 
  
  background-color: var(--color-bck);
 padding: 5px 10px;
  color: rgb(0, 0, 0);
  font-size: 20px;
font-weight: bold;
 text-decoration: none;
 display: inline-block;
   margin: 20px;
}
 .scrolldown:hover{ 
background-color:#d70809;
 /*color: #000000;*/
 box-shadow: -5px -5px 10px 0px rgba(255, 255, 255, 0.5), 5px 5px 10px 0px rgba(0, 0, 0, 0.3);
       text-decoration: none;
     
    }
    .buttoncentre{
        text-align: center;
    }
/*ul .scrolllist{
    margin: 0 auto;
 display :flex;
 justify-content: center;
    display: inline-block ;
    text-align: center;
    text-decoration: none;
   }*/
    
.navtitle{
    font-size: 80%;
   color:var(--color-font);
    font-weight: bold;
    line-height: 80px;
 
   

  
}
#navtitle{
    width: 60px;
    margin: 0 0 -15px -35px;
padding-left: 15px;
 margin-top: 15px;
}
.burgerbutton{
   
    box-shadow: var(--color-font);
   float: right;
    margin-right: 40px;
    line-height: 80px;
    cursor: pointer;
    display: none;

}
#check{
    display: none;

}

@media(max-width: 1225px)
{.burgerbutton{
    display: block;
}
nav ul{
    position: fixed;
    width: 100%;
    background-color: rgba(137, 135, 135, 0.692);
    height: 100vh;
    text-align: center;
    top: 60px;
    left: -120%;
    transition: all 1s;
}
nav ul li {
    display: block;
    padding: 50px;
}
nav ul li {
    text-decoration: double;
    font-size: 100px;
    color: white;
    text-transform: uppercase;
  
}


#check:checked ~ul{
    left: 0;
}

}
.homepagegreeting
{ text-shadow: 4px 4px var(--color-shadow);
    font-size: 150px;
    margin-bottom: 10px;
    margin-top: 0px;
    padding-top: 100px;
    margin-left: 50px;
}
.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}


.active, .collapsible:hover {
  background-color: #555;
}
.collapsible:after {
  content: '\25BC'; /* Unicode character for "plus" sign (+) */
  font-size: 30px;
  color: rgb(0, 0, 0);
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\25B2"; /* Unicode character for "minus" sign (-) */
}

.togglect {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
}

.container{
  margin: 0;
  border: 2px solid blue;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.paraspacing{
padding: 2px;
}
.paragraphtext{

  width: 50rem;

    margin: 1rem;


    /*margin-top: 5px;
    margin-bottom: 40px;
    margin-left: 50px;
    margin-right: 50px;*/
    font-size: 20px;
    padding: 20px;
    background: var(--color-para);
    color: var(--color-font);
  border: 2px solid pink;
    border-left: 2px solid pink;
    border-bottom: 2px solid pink;
   /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;*/
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}


.smallertitlescirlce{

  background-color: pink;
   
    
/*margin left 300px*/
  padding: 10px;
  border: 2px solid pink;
  border-radius: 50%;
  float: left;

 }

.designblocks{


  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 50px;
  margin-right: 50px;
  font-size: 20px;
  padding: 50px;
  padding-bottom: 20px;
  padding-top: 20px;
  background-color: #2A5D67;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;

align-items: center;
}
/*Heading sizes*/
.titles
{text-shadow: 2px 2px var(--color-shadow);
text-align: center;
    margin-bottom: 10px;
    margin-top: 0px;
    padding-top: 100px;
    font-size: 80px;
}
 .smallertitles{

  shape-outside: margin-box;
    font-size: 30px;
    margin: 0px;
  text-align: center;
  text-shadow: 1px 1px rgb(247, 120, 142);
 }
 
 .evensmallertitles{
    font-size: 23px;
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 5px;
    text-decoration: underline  1px rgb(0, 0, 0);
 }

#designimg{
  width: 70%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
  margin: 20px;
  text-align: center;
}
/*Weekly blog buttons*/
 #opentext {
    display: none;

  }
 
 #opentext:target {
    display: block;
   
  } 
  #Week {
    display: none;

  }
  #Week:target{
    display: block;

  }
  #weektwo {
    display: none;

  }
  #weektwo:target{
    display: block;

  }
  #weekthree {
    display: none;

  }
  #weekthree:target{
    display: block;

  }
  #weekfour {
    display: none;

  }
  #weekfour:target{
    display: block;

  }
  #weekfive {
    display: none;

  }
  #weekfive:target{
    display: block;

  }
  #weeksix {
    display: none;

  }
  #weeksix:target{
    display: block;

  } #weekseven {
    display: none;

  }
  #weekseven:target{
    display: block;

  }
  #ar {
    display: none;

  }
  #ar:target{
    display: block;

  }
  /*Start Filter styles */
  .ctBl{margin: 50px ;
  padding: 0.4rem;
  font-size: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }


/*End*/





  .opentext {
    background-color: var(--color-font);
    padding: 5px 10px;
     color: rgb(255, 255, 255);
     font-size: 20px;
 font-weight: bold;
border-radius: 8px 8px ;
font-family: 'Courier New', Courier, monospace;
float: right;

margin-bottom: 15px;
margin-left: 85%;
  }

.opentext:hover{
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
 }
 /*Assignment 3*/
:root{
  --color-bck:#fffdfc ;
  --color-font: #222020;
  --color-headings:
  --color-para: ; 
  --color-nav:#fffdfc77;
  --color-shadow:#d70809;


}
.dark-mode{
  --color-bck:#151515 ;
  --color-font: #fafafa;
  --color-para:  #131313; 
  --color-nav:#11111177;
  --color-shadow:rgb(233, 233, 86);
}
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

transition: .4s;
}



 .lighting{
   visibility: hidden;
    display: none;

 }
 
/* CSS Scan. 2023. Beautiful CSS checkboxes examples.
Online. https://getcssscan.com/css-checkboxes-examples?ref=shapes-bottom. 24 May 2023.*/
.checkbox-wrapper-54{

padding: 20px;
float: right;
}
  .checkbox-wrapper-54 input[type="checkbox"] 
  .checkbox-wrapper-54 *,
  .checkbox-wrapper-54 ::after,
  .checkbox-wrapper-54 ::before {
    box-sizing: border-box;
  }

  /* The switch - the box around the slider */
  .checkbox-wrapper-54 .switch {
    --width-of-switch: 3.5em;
    --height-of-switch: 2em;
    /* size of sliding icon -- sun and moon */
    --size-of-icon: 1.4em;
    /* it is like a inline-padding of switch */
    --slider-offset: 0.3em;
    position: relative;
    width: var(--width-of-switch);
    height: var(--height-of-switch);
    display: inline-block;
  }

  /* The slider */
  .checkbox-wrapper-54 .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f4f4f5;
    transition: .4s;
    border-radius: 30px;
  }

  .checkbox-wrapper-54 .slider:before{
    position: absolute;
    content: "";
    height: var(--size-of-icon,1.4em);
    width: var(--size-of-icon,1.4em);
    border-radius: 20px;
    left: var(--slider-offset,0.3em);
    top: 50%;
    transform: translateY(-50%);
    background: linear-gradient(40deg,#ff0080,#ff8c00 70%);
    ;
   transition: .4s;
  }

  .checkbox-wrapper-54 input:checked + .slider {
    background-color: #303136;
  }

  .checkbox-wrapper-54 input:checked + .slider:before {
    left: calc(100% - (var(--size-of-icon,1.4em) + var(--slider-offset,0.3em)));
    background: #303136;
    /* change the value of second inset in box-shadow to change the angle and direction of the moon  */
    box-shadow: inset -3px -2px 5px -2px #8983f7, inset -10px -4px 0 0 #a3dafb;
  }
 